.dashboardContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dashboardNavbarContainer {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.dashboardNavbarContainer > h1:hover {
    text-shadow: 0 0 3px white;
}

.navbarButtonsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboardDataContainer {
    height: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    gap: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 25px;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, transparent, grey, transparent) 1;
}

.dashboardDataContainer::-webkit-scrollbar {
    width: 3px;
}

.dashboardDataContainer::-webkit-scrollbar-thumb {
    background-color: grey;
}

.landingPageDisplayContainer {
    display: flex;
    flex-direction: column;
    height: 170px;
    gap: 10px;
    text-align: center;
}

.landingPageDisplayFooter {
    display: flex;
    justify-content: space-between;
}

.landingPageDisplayFooter > h4 {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.landingPageDisplayFooter > h4:nth-child(1) {
    text-align: left;
}

.landingPageDisplayFooter > h4:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    text-align: right;
}

.landingPageCardContainer {
    height: 100%;
    width: 100%;
    border: 2px solid grey;
    border-radius: 5px;
    overflow: hidden;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    position: relative;
    background: slateblue;
}
.landingPageCardContainer .controlsOverlay {
    padding: 0;
}

.landingPageCardHeader {
    font-size: 12px;
    height: 20%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
}

.landingPageCardBodyContainer {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingPageCardText {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 8px;
}

.landingPageCardImageContainer {
    height: 100%;
    width: 50%;
}

.landingPageCardImage {
    height: 100%;
    width: 100%;
}

.landingPageCardFooter {
    border-top: 1px solid gray;
    height: 20%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.addPageButton,
.logoutButton {
    height: max-content;
    width: max-content;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: rgba(0, 0, 255, 0.5);
    border: none;
    font-weight: 500;
}

.addPageButton:hover {
    background-color: rgba(0, 0, 255, 1);
}

.controlsOverlay {
    position: absolute;
    height: 30%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: -30%;
    left: 0;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}

.landingPageCardContainer:hover .controlsOverlay {
    bottom: 0;
}

.controlsOverlay > *:hover {
    scale: 1.1;
}
.dashboardAnalyticsContainer {
    height: 30%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}
.dashboardAnalyticsContainer > h3 {
    margin: 10px 0px;
}

.tableContainer {
    max-height: 75%;
    width: 20%;
    border: 1px solid grey;

    border-radius: 10px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.tableHead {
    font-weight: 400;
}

.tableBodyContainer::-webkit-scrollbar {
    width: 3px;
}

.tableBodyContainer::-webkit-scrollbar-thumb {
    background-color: grey;
}

.tableHead {
    padding-bottom: 5px;
}

.tableBodyContainer {
    overflow-y: auto;
}

.tableRowContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    border-bottom-width: 50%;
    padding: 0px 10px;
}

.tableRowContainer:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.tableData {
    font-weight: 600;
}
